@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.nav {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-icon,
.nav-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-icon h2 {
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
}

.nav-option>p,
button {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-option p {
    padding-right: 20px;
}

.follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
    border: none;
}

.follow a {
    padding-left: 5px;
}
.banner{
    margin: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    background-color: rgba(241, 68, 174, 0.03);
}
.banner>img{
    width: 50%;
}
.banner p{
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #534C64;
}
.banner p>i{
    margin-right: 10px;
}
.play{
    font-size: 2.8rem;
    font-weight: 600;
}
.goat{
    color: #8758F1 ;
    font-size: 5.9rem;
    font-weight: 700px;
}
.sign,.go{
    margin-top: 50px;
    border-radius: 3rem;
    padding: 15px 30px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}
.sign{
    background-color: #FF42A5;
    margin-right: 20px;
}
.go{
    background-color: #4EC5F7;
}
/* responsive code */
@media screen and (max-width:576px) {
    .nav{
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav,
    .nav-option
    {
       flex-direction: column;
    }
    .nav-option>p,.follow{
        margin-top: 20px;
    }
    .banner{
        margin-left: 50px;
        margin-right: 50px;
        flex-direction: column-reverse;
    }
    .banner>img{
        width: 100%;
        margin-bottom: 100px;
    }
}

/* for tablet */
@media screen and (max-width:992px) and (min-width:577px) {
    .nav{
        padding-left: 50px;
        padding-right: 50px;
    }
    .nav,
    .nav-option{
       flex-direction: column;
    }
    .nav-option>p,.follow{
        margin-top: 20px;
    }
    .banner{
        margin-left: 50px;
        margin-right: 50px;
        flex-direction: column-reverse;
    }
    .banner>img{
        width: 75%%;
        margin-bottom: 100px;
    }
}